.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  padding: 20px;
}

.form-card {
  width: 700px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  background-color: #f5f7fa;
  text-align: center;
}

.form-card h2 {
  color: #333;
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 25px;
  font-size: 14px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e0e4e8;
  font-weight: 600;
  color: #333;
}

tr:hover {
  background-color: #f1f3f5;
}

button {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 8px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.spacer {
  flex: 1 1 auto;
}

/* .current-session {
  background-color: rgba(0, 128, 0, 0.2); 
} */

.current-session {
  background-color: rgba(76, 175, 80, 0.1); /* blago zelenkasta */
  font-weight: bold;
}

.logout-btn {
  font-size: 14px;      /* veći font */
  padding: 10px 20px;   /* više prostora oko teksta */
  border-radius: 10px;  /* malo zaobljenije */
  min-width: 150px;     /* šire dugme */
}
.certificate-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.certificate-buttons button {
  min-width: 180px;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 10px;
}

