<div class="form-container">
  <h2>Issue New Certificate</h2>
   <ng-container *ngIf="certificateForm">
  <form [formGroup]="certificateForm" (ngSubmit)="onSubmit()">
    
    <!-- Owner Information -->
    <h4>Owner Information (Subject)</h4>
    <input formControlName="commonName" placeholder="Common Name (e.g., Full Name)">
    <input formControlName="surname" placeholder="Surname">
    <input formControlName="givenName" placeholder="Given Name">
    <input formControlName="organization" placeholder="Organization (e.g., UNS-FTN)">
    <input formControlName="organizationalUnit" placeholder="Organizational Unit (e.g., Department)">
    <input formControlName="country" placeholder="Country (code, e.g., RS)">
    <input formControlName="email" placeholder="Owner's Email Address">

    <hr>
    
    <!-- Technical Details -->
    <h4>Technical Details</h4>
    <label for="ownerEmail">Owner User Email (from 'users' table):</label>
    <input id="ownerEmail" formControlName="ownerEmail" placeholder="Owner account email">
    
    <label for="type">Certificate Type:</label>
    <select id="type" formControlName="type">
      <option *ngIf="pom !== 2" value="ROOT">ROOT</option>
      <option value="INTERMEDIATE">INTERMEDIATE</option>
      <option value="END_ENTITY">END_ENTITY</option>
    </select>
    
    <!-- Show this field only if type is NOT ROOT -->
    <div *ngIf="certificateForm.get('type')?.value !== 'ROOT'">
      <label for="issuer">Issuer Serial Number:</label>
      <input id="issuer" formControlName="issuerSerialNumber" placeholder="Enter CA certificate serial number">
    </div>

    <label for="validFrom">Valid From:</label>
    <input id="validFrom" type="date" formControlName="validFrom">
    
    <label for="validTo">Valid To:</label>
    <input id="validTo" type="date" formControlName="validTo">

    <button type="submit" [disabled]="certificateForm.invalid">Issue Certificate</button>
  </form>
  </ng-container>
</div>